:root {
  --primary-color: rgba(108, 99, 255, 1);
  --secondary-color: #a3f7bf;
  --text-color: #222831;
  --background-color: #F9F7FE;

  --heading-font: 'Playfair Display', serif;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
}
h3 {
  font-family: var(--heading-font);
  color: var(--text-color);
  font-size: 48px;
  font-weight: bold;
}
h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.logo {
  max-height: 40px;
}
nav {
  padding: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
  color: var(--primary-color);
}
.sticky-top {
  background-color: var(--background-color);
}


/* Footer */

footer a {
  text-decoration: none;
}
footer a:hover {
  color: var(--primary-color);
}
footer i {
  font-size: 24px;
  color: var(--primary-color);
}
.footerIcon {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.footerIcon h2 {
  color: var(--text-color);
}
.workInquiry{
  background-color: var(--background-color);
  padding: 50px 100px;
  border-radius: 20px;
  margin-top: 150px;
  }
.workInquiry p {
  font-size: 18;
  opacity: 70%;
  }
.workInquiry-button {
  text-align: center;
  }


.hero-button {
  background: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
  color: white;
  font-size: 18px;
  box-shadow: none;
}

.hero-button:hover {
  background: var(--background-color);
  color: var(--primary-color);
}

.buttonOutline {
  background: white;
  border: solid 2px var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--primary-color);
  font-size: 18px;
  box-shadow: none;
}

.buttonOutline:hover {
  background: var(--primary-color);
  color: white;
}


/* Homepage */

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
}

.textInfo {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  margin: 100px 0;
}
.cardHeader {
  font-family: var(--heading-font);
  color: var(--text-color);
  font-size: 64px;
  font-weight: bold;
}
.cardText {
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin: 50px 0;
  opacity: 70%;
}
.cardDescription {
  margin: 100px 60px;
}


/* About - Work - Contact */

.about-hero, .work-hero, .contact-hero {
  padding-top: 160px;
  padding-bottom: 100px;
}
.about-hero h1, .work-hero h1, .contact-hero h1 {
  font-size: 64px;
}
.about-hero h2 {
  font-size: 18px;
  font-weight: bold;
}
.about-hero p {
  margin: 30px 40px 40px 0;
}


/* Work */

.work-hero p {
  text-align: center;
  font-size: 14px;
  opacity: 70%;
  line-height: 1.5;
}
.work-hero h2 {
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
.workImage {
  text-align: center;
  margin-top: 30px;
  border-radius: 20px;
}


/* Contact */

.contact-hero a {
  font-size: 16px;
  text-decoration: none;
  color: var(--text-color);
  opacity: 70%;
}
.contact-hero a:hover {
  color: var(--primary-color);
}
.contact-hero .fa-brands, .fa-solid {
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 10px;
}



@media (max-width: 900px) {
  h1 {
    font-size: 52px;
  }

  footer {
    margin-top: 80px;
  }
  footer h2 {
    font-size: 20px;
  }
  .workInquiry {
    padding: 40px 30px;
    text-align: center;
  }
  .footerIcon {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .hero {
    padding: 140px 20px;
  }
  .hero h2 {
    font-size: 20px;
    padding: 0 20px;
    margin-top: 20px;
  }
  .hero p {
  font-size: 24px;
  margin-bottom: 0;
  }

  .textInfo {
    margin: 50px 20px;
    padding: 0 20px;
    line-height: 1.5;
  }

  .cardHeader {
    font-size: 32px;
  }
  .cardText {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
  }
  .cardDescription {
    margin: 10px 20px 20px 20px;
    text-align: center;
  }

  .about-hero, .work-hero, .contact-hero {
    padding: 30px;
    text-align: center;
  }
  .about-hero h1, .work-hero h1, .contact-hero h1 {
    font-size: 44px;
  }
  .about-hero h2 {
    font-size: 16px;
  }
  .about-hero p {
    font-size: 16px;
    margin: 30px 10px;
  }
  .about-hero .img-fluid {
    margin-top: 30px;
  }

}